@mixin font($font_name, $file_name, $weight, $style) { // подключение шрифтов
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}

@import 'fonts.scss';
@import 'null.scss';

body {
   font-family: "helveticaneuecyr", sans-serif;
   background: url('../img/bg.png') center / cover;
}

a.btn {
   background-color: #ed1a23;
   box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.43);
   border-radius: 3px;
   font-size: 16.1px;
   color: #ffffff;
   text-transform: uppercase;
   display: inline-flex;
   align-items: center;
   justify-content: center;
}

header {
   height: 134px;
   width: 100%;
   background: url('../img/gradient_header.png') center / cover no-repeat;

   .wrapper {
      background-color: transparent;
   }


   .header__up {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 41px;

      > div {
         position: relative;
      }

      &_star {
         margin-right: 30px;
      }

      &_bookmarks {
         .header__up_counter {
            margin-top: -1px;
         }
      }

      &_user {
         font-size: 13px;
         line-height: 15px;
         font-weight: 300;
         color: #ffffff;
         margin-right: 18px;
         min-width: 280px;
         display: block;
         text-align: right;

         span {
            border-bottom: 1px solid;
            margin-right: 9px;
            letter-spacing: .5px;
         }

         .header__up_counter {
            position: relative;
         }
      }

      &_counter {
         background-color: #ed2126;
         min-width: 17px;
         height: 17px;
         border-radius: 50%;
         font-size: 11px;
         line-height: 17px;
         font-weight: 300;
         color: #ffffff;
         text-align: center;
         display: inline-block;
         position: absolute;
         margin-left: -4px;
      }
   }

   .header__header {
      height: 93px;
      display: flex;
      align-items: center;
      padding: 0 9px 0 23px;
      background-color: #fff;
      border-radius: 3px 3px 0 0;

      &_logo {
         width: 180px;
         height: 63px;
         background: url('../img/logo_copy_9_16.png') center / contain no-repeat;
         margin-right: auto;

         a {
            display: block;
            height: 100%;
            width: 100%;
         }
      }

      &_block {
         display: flex;
         align-items: center;
         padding: 10px 27px;
         border-right: 1px solid #d9d9d9;
         line-height: 15px;
         color: #010c2c;

         &:last-child {
            border: 0;

            img {
               margin-right: 20px;
            }
         }

         img {
            margin-right: 13px;
            font-size: 13px;
         }

         span.red {
            font-size: 15px;
            line-height: 15px;
            font-weight: 400;
            color: #ee3136;
         }

         span.city {
            text-decoration: none;
            border-bottom: 1px solid;
            cursor: pointer;
         }

         span.call {
            cursor: pointer;
         }
      }
   }
}

.wrapper {
   max-width: 960px;
   margin: 0 auto;
   background-color: #fff;
}

.box-shadow {
   box-shadow: 0 0 5px 0 #999;
}

.wrapper__wrapp {
   padding: 0 65px;
}

h3 {
   font-size: 16px;
   line-height: 24px;
   font-weight: 700;
   text-transform: uppercase;
   color: #ee2028;
   letter-spacing: .8px;
}

.nav {
   display: flex;
   align-items: center;
   height: 40px;
   padding: 0 27px;
   background-color: #fff;

   &__catalog {
      width: 150px;
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 46px;
      font-weight: 600;
      text-transform: uppercase;
      color: #010c2c;
      cursor: pointer;
      letter-spacing: .6px;
      margin-right: 20px;

      &:before {
         content: '';
         position: absolute;
         right: 0;
         width: 8px;
         height: 7px;
         background: url('../img/nav_arrow.png') center / contain no-repeat;
      }
   }

   &__search {
      flex-grow: 1;
      margin-right: 29px;

      input {
         width: 100%;
         height: 28px;
         opacity: 0.74;
         border: 1px solid #c7c7c7;
         border-radius: 3px;
         padding: 0 13px;
         background: #f3f3f3 url('../img/search.png') calc(100% - 13px) 50% / 17px no-repeat;

         &::placeholder {
            font-size: 12px;
         }
      }
   }

   &__nav {
      font-size: 11px;
      line-height: 22px;
      margin-right: 20px;
      letter-spacing: 0.6px;
      height: 100%;
      display: flex;
      align-items: center;
      border-bottom: 3px solid transparent;

      a {
         font-weight: 500;
         color: #010c2c;
      }

      &:last-child {
         margin-right: 0;
      }
   }

   &__nav.active {
      border-color: #041c37;
   }
}

.breadcrumbs {
   padding: 0 27px;
   background-color: #f6f6f6;

   ul {
      display: flex;
      align-items: center;
      height: 34px;
      font-size: 10px;
      line-height: 15px;
      font-weight: 300;
      color: #8b8989;

      li {
         margin-top: -4px;

         &:first-child {
            display: none;
         }

         a {
            font-size: 10px;
            line-height: 15px;
            font-weight: 300;
            letter-spacing: 0.6px;
            color: #8b8989;
         }
      }

      li:not(:last-child) {
         margin-right: 17px;
         position: relative;
         text-decoration: underline;
         letter-spacing: 0.2px;

         &:before {
            content: '>';
            position: absolute;
            right: -12px;
            margin-top: 1px;
         }
      }
   }
}

.section-1 {
   display: flex;
   margin-bottom: 69px;

   &__menu {
      flex-shrink: 0;
      width: 200px;
      background: url('../img/bg_menu.png') 0 -2px / cover no-repeat;
      padding: 18px 0;
      position: relative;

      li.active {
         position: relative;
         z-index: 0;

         a {
            color: #fff;
         }

         &:before {
            content: '';
            width: 210px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url('../img/menu_item.png') center / cover no-repeat;
            z-index: -1;
         }

         &:after {

         }
      }

      a {
         height: 32px;
         font-size: 13px;
         line-height: 18px;
         font-weight: 300;
         color: #010101;
         display: flex;
         align-items: center;
         padding-left: 26px;
         letter-spacing: .7px;
      }
   }

   &__bg {
      background: url('../img/sec_1_bg.png') center / cover no-repeat;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: .6;
      top: 0;
      left: 0;
   }

   &__img {
      width: 61%;
      min-width: 500px;
      min-height: 280px;
      position: relative;

      img {
         position: absolute;
         margin: auto;
         height: 100%;
         left: 58%;
         top: 50%;
         transform: translate(-50%, -50%);
      }
   }

   &__text {
      width: 39%;
      padding: 43px 58px 0 8px;

      h2 {
         font-size: 27px;
         line-height: 32px;
         font-weight: 700;
         color: #ed1c24;
         margin-bottom: 23px;
         letter-spacing: 1.2px;
      }

      p {
         line-height: 28px;
         letter-spacing: .5px;
      }
   }
}

.section-2 {
   h3 {
      margin-bottom: 30px;
   }

   &__blocks {
      display: flex;
      flex-wrap: wrap;
      padding: 0 5px;

      .item {
         display: flex;
         align-items: center;
         width: 50%;
         margin-bottom: 21px;

         &:nth-child(2n) {
            padding-left: 90px;
         }

         &__img {
            width: 52px;
            height: 52px;
            border: 1px solid #aaa;
            border-radius: 50%;
            margin-right: 20px;
            flex-shrink: 0;
         }

         &__text {
            line-height: 21px;
            font-weight: 300;
            letter-spacing: .7px;
         }

         .item-car {
            background: url('../img/sec2_car.png') center / 27px no-repeat;
         }

         .item-ok {
            background: url('../img/sec2_ok.png') center / 23px no-repeat;
         }

         .item-time {
            background: url('../img/sec2_time.png') center / 27px no-repeat;
         }

         .item-deliv {
            background: url('../img/sec2_deliv.png') center / 27px no-repeat;

         }
      }
   }
}

.section-3 {
   margin: 0 -65px;
   background: url('../img/sec3_bg.png') center / cover no-repeat;
   display: flex;
   align-items: center;
   position: relative;
   padding: 55px 0 18px;
   margin-bottom: 33px;

   &__img {
      width: 64.2%;
   }

   &__text {
      width: 345px;
      margin-left: -70px;
      margin-top: -37px;

      p {
         letter-spacing: 1.6px;
         font-size: 20.9px;
         line-height: 2;
         font-weight: 700;
         color: #000000;
         margin-bottom: 18px;
      }

      .btn {
         width: 200px;
         height: 50px;
      }
   }

}

.section-4 {
   margin-bottom: 51px;

   &__table {
      border: 1px solid #d5d5d5;
      margin-bottom: 15px;

      &_row {
         padding: 20px 20px 20px 42px;
         border-bottom: 1px solid #d5d5d5;
         display: flex;
         align-items: center;
         letter-spacing: .6px;

         &:last-child .type {
            margin-top: -45px;
         }

         .type {
            line-height: 24px;
            font-weight: 700;
            color: #010101;
            width: 230px;
            flex-shrink: 0;
         }

         .desc {
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
            color: #404040;

            p {
               padding-top: 16px;
               font-size: 12px;
               line-height: 18px;
               font-weight: 300;
               color: #8a8a8a;
            }
         }
      }
   }

   &__desc {
      line-height: 28px;
      font-weight: 300;
      letter-spacing: .6px;

      p {
         margin-bottom: -5px;
      }

      a {
         font-size: 12px;
         line-height: 15px;
         font-weight: 300;
         text-decoration: underline;
         color: #656565;
      }
   }
}

.section-5 {
   padding-bottom: 38px;
   margin-bottom: 61px;

   h3 {
      margin-bottom: 14px;
   }

   p {
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 9px;
      max-width: 79%;
      letter-spacing: .7px;
   }

   &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__img {
      width: 52%;
      flex-shrink: 0;
   }

   &__text {
      width: 400px;
      flex-shrink: 0;
      margin-left: 65px;

      p {
         font-size: 23.2px;
         line-height: 1.7;
         font-weight: 700;
         letter-spacing: 1.5px;
         margin-bottom: 20px;
      }

      .btn {
         width: 200px;
         height: 50px;
      }
   }
}

.footer {
   background: #fff url('../img/gradient_header.png') center / cover no-repeat;
   color: #fff;
   padding-top: 41px;

   a {
      color: #fff;
   }

   .wrapper {
      background-color: transparent;
   }

   .footer-row {
      display: flex;
      justify-content: space-between;

      &:first-child .footer-col:first-child {
         margin-top: -47px;
      }

      &:last-child:before {
         content: '';
         position: absolute;
         left: 0;
         right: 0;
         height: 94px;
         background-color: rgba(0, 0, 0, .1);
         z-index: 1;
      }
   }

   .footer-col {
      width: 20%;
      padding: 0 10px;
      flex-shrink: 0;

      &:first-child {
         margin-right: 12px;
      }
   }

   &__title {
      font-size: 19px;
      line-height: 25px;
      font-weight: 400;
      letter-spacing: 0.03em;
   }

   &__offers {
      width: 96%;
      background-color: #fff;
      padding: 20px 12px 30px;
      margin-bottom: 34px;
      border: 1px solid #f3f3f3;
      box-shadow: 1px 1px 2px 1px rgba(3, 20, 40, 0.46);
      border-radius: 0 0 4px 4px;
      margin-top: -8px;

      p {
         font-size: 13px;
         line-height: 14px;
         font-weight: 300;
         margin-bottom: 19px;
         color: #000;
         letter-spacing: .4px;
      }

      form {
         display: flex;

         input {
            opacity: 0.74;
            background-color: #f4f4f4;
            border: 1px solid #c7c7c7;
            border-radius: 2px;
            width: 100%;

            font-size: 11.5px;
            line-height: 14px;
            font-weight: 300;
            letter-spacing: 0.03em;
            color: #d0d0d0;
            padding: 0 13px;
         }

         button {
            flex-shrink: 0;
            width: 25px;
            height: 29px;
            border-radius: 0 2px 2px 0;
            background: #e30613 url('../img/offers_btn.png') center / 7px no-repeat;
         }
      }


   }

   &__socials {
      margin-bottom: 44px;

      p {
         padding-left: 10px;
         margin-bottom: 14px;
         letter-spacing: .2px;
      }

      &_social {
         display: flex;
         justify-content: center;

         > div {

            width: 35px;
            height: 35px;
            background-color: #ffffff;
            border-radius: 2px;
            margin-right: 21px;

            &:last-child {
               margin-right: 0;
            }

            a {
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;
            }
         }

         .vk a {
            font-size: 25.7px;
            line-height: 37px;
            font-weight: 700;
            color: #1a75c1;
         }

         .fb a {
            font-size: 31.2px;
            line-height: 45px;
            font-weight: 700;
            color: #0c478e;
         }

         .classmates {
            background: #fff url('../img/classmates.png') center / 15px no-repeat;
         }

      }
   }

   &__call {
      padding-left: 10px;
      font-size: 13px;
      line-height: 19px;
      font-weight: 400;
      letter-spacing: 0.005em;

      p {
         margin-bottom: 5px;
         letter-spacing: .2px;
      }

      a {
         font-size: 19px;
         line-height: 30px;
         font-weight: 400;
         color: #fefefe;
         letter-spacing: 0.6px;
         white-space: nowrap;
      }
   }

   &__block {
      margin-bottom: 20px;

      &_title {
         margin-bottom: 6px;

         a {
            text-transform: uppercase;
            font-size: 19px;
            line-height: 25px;
            font-weight: 400;
            letter-spacing: 0.08em;
         }
      }

      &_links {
         a {
            font-size: 13px;
            line-height: 23px;
            font-weight: 300;
            letter-spacing: .3px;
         }
      }
   }

   &__pay {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 27px;

      &_card {
         width: 56px;
         height: 37px;
         box-shadow: 2px 2px 9px 0 rgba(0, 0, 0, 0.23);
         margin-right: 15px;
         margin-bottom: 14px;
         border-radius: 4px;
      }

      .maestro {
         background: url('../img/card_maestro.png') center / contain no-repeat;
      }

      .visa {
         background: url('../img/card_visa.png') center / contain no-repeat;
         margin-right: 0;
      }

      .master {
         background: url('../img/card_master.png') center / contain no-repeat;
         margin-bottom: 0;
      }

      .club {
         background: url('../img/card_club.png') center / contain no-repeat;
         margin: 0;
      }
   }

   &__map {


      img {
         margin-right: 12px;
      }

      a {
         display: inline-flex;
         align-items: center;
         text-decoration: underline;
      }
   }

   &__logo {
      width: 152px;
      height: 45px;
      background: url('../img/footer_logo.png') center / contain no-repeat;

      a {
         display: block;
         height: 100%;
         width: 100%;
      }
   }

   &__gr-comp {
      font-size: 13px;
      line-height: 19px;
      font-weight: 300;
   }

   &__copyright {
      line-height: 15px;
      font-weight: 300;
      text-align: center;
      margin-top: 17px;
      margin-bottom: 18px;
   }

   &__advantages {
      display: flex;
      align-items: center;
      min-height: 94px;
      position: relative;

      img {
         margin-right: 18px;
      }

      p {
         font-size: 16px;
         line-height: 32px;
         font-weight: 300;
         letter-spacing: 0.1em;
         color: #fefeff;
      }
   }

}

.header-mobile,
.deliv-mobile,
.dop-mobile,
.services-mobile,
.footer-mobile {
   display: none;
}

@media (max-width: 1023px) {
   header,
   .nav,
   .section-1,
   .section-2,
   .section-3,
   .section-5,
   .footer .wrapper {
      display: none;
   }

   body {
      background: initial;
   }

   a.btn {
      border-radius: 0;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.05em;
   }

   .header-mobile {
      display: block;
      box-shadow: 0 0 5px 0 #999;
      position: relative;
      z-index: 0;

      &__phone {
         display: flex;
         align-items: center;
         justify-content: flex-end;
         padding: 0 9px;
         height: 24px;
         background-color: #f6f6f6;
         font-size: 11px;
         font-weight: 300;
         text-decoration: underline;
         letter-spacing: 0.05em;
         color: #494949;
      }

      &__head {
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 10px 9px;

         &_burger {
            width: 19px;
            height: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            div {
               height: 2px;
               background-color: #000;
            }
         }

         &_logo {
            width: 143px;
            height: 41px;
            background: url('../img/header_logo_m.png') center / contain no-repeat;
         }

         &_basket {
            display: block;
            width: 33px;
            height: 26px;
            background: url('../img/header_basket_m.png') center / contain no-repeat;
            position: relative;
            margin-right: 7px;

            .counter {
               min-width: 17px;
               height: 17px;
               background-color: #ed2126;
               font-size: 11px;
               line-height: 17px;
               font-weight: 300;
               color: #ffffff;
               text-align: center;
               border-radius: 50%;
               position: absolute;
               right: -10px;
               top: -10px;
            }
         }
      }

      &__search {
         display: flex;
         padding: 0 9px;

         &_search {
            flex-grow: 1;
            position: relative;
            margin-right: 5px;
            margin-bottom: 10px;

            input {
               height: 28px;
               width: 100%;
               background-color: #fafafa;
               border: 1px solid #dbdbdb;
               padding: 0 10px;

               &::placeholder {
                  color: #000;
               }
            }

            .search-btn {
               width: 16px;
               height: 16px;
               background: url('../img/header_search.png') center / contain no-repeat;
               cursor: pointer;
               position: absolute;
               right: 10px;
               top: calc(50% - 8px);
            }
         }


         &_catalog {
            width: 115px;
            height: 28px;
            background-color: #ffffff;
            border: 1px solid #b3c2d4;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.05em;
            padding: 0 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
         }
      }
   }

   .breadcrumbs {
      padding: 0 9px;
      border-bottom: 1px solid #d7d7d7;

      ul li:first-child {
         display: initial;

         &:before {
            display: none;
         }
      }

      ul li:last-child a {
         color: #000;
      }
   }

   .box-shadow {
      box-shadow: initial;
   }

   .wrapper__wrapp {
      padding: 21px 9px 24px;
   }

   .deliv-mobile {
      display: initial;

      h5 {
         margin-bottom: 17px;
         text-transform: uppercase;
         line-height: 20px;
         font-weight: 500;
         letter-spacing: 0.06em;
      }

      p {
         font-size: 14px;
         line-height: 20px;
         font-weight: 300;

         a {
            text-decoration: underline;
            color: #ed2126;
         }
      }

      &__banner {
         display: flex;
         align-items: center;

         &_img {
            width: 68.4%;
            margin-left: 7.5%;

            img {
               width: 100%;
            }
         }

         &_text {
            text-align: right;
            position: absolute;
            width: 150px;
            right: 9px;

            p {
               line-height: 20px;
               font-weight: 500;
               letter-spacing: 0.05em;
               margin-bottom: 19px;
            }

            a.btn {
               width: 127px;
               height: 32px;
            }
         }
      }
   }

   .section-4__table {
      border: 0;
      margin-bottom: 0;

      .section-4__table_row {
         padding: 0 0 11px;
         flex-wrap: wrap;
         border: 0;
         border-bottom: 2px dotted #707070;
         margin-bottom: 11px;

         .type {
            width: 100%;
         }

         p {
            display: none;
         }

         .dop-mobile {
            display: block;
            line-height: 15px;
            font-weight: 300;
            text-decoration: underline;
            color: #ed1a23;
            margin-top: 7px;
         }

         &:first-child {
            display: none;
         }

         &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding: 0;

            .type {
               margin: 0;
            }
         }

      }
   }

   .section-4__desc {
      display: none;
   }

   .section-4 {
      margin-bottom: 20px;
   }

   .services-mobile {
      display: block;

      &__title {
         line-height: 15px;
         font-weight: 700;
         margin-bottom: 17px;
      }

      .slider {
         &__item {
            display: block;
            width: 142px;
            height: 155px;
            background-color: #ffffff;
            border: 1px solid #c7c7c7;

            &_img {
               height: 124px;
            }

            .slide-deliv {
               background: url('../img/slider_car.png') center / contain no-repeat;
            }

            .slide-man {
               background: url('../img/slider_man.png') center / contain no-repeat;
            }

            p {
               text-align: center;
               font-size: 12px;
               line-height: 1.2;
               font-weight: 500;
               color: #010101;
            }
         }
      }
   }

   .footer {
      padding: 0;

      .footer-mobile {
         display: block;

         &__pay {
            display: flex;
            align-items: center;
            position: relative;
            padding: 20px 9px;
            border-bottom: 1px solid #636d8b;

            a {
               text-decoration: underline;
            }

            img {
               position: absolute;
               right: 14px;
            }
         }

         &__contacts {
            padding: 17px 0 3px;
            display: flex;
            flex-wrap: wrap;

            a {
               text-decoration: underline;
               padding: 0 10px;
               display: block;
               width: 50%;
               margin-bottom: 17px;
            }
         }
      }
   }


}